{% extends "base.html" %}{% load crispy_forms_tags %} {% block title%} List Users {% endblock title %} {% block content%}

</script>
</head>

<body>
    <div class="mt-4">
        <h4 class="text-center">Users List & Actions</h4>
    </div>
    <div class="table-responsive mt-4">
        <table class="table mt-4">
            <thead class="thead-light">
                <tr>
                    <th> Email </th>
                    <th>User id</th>
                    <th> Age </th>
                    <th> Country</th>
                    <th>City</th>
                    <th>Update & Sales</th>
                    <th>Statistics</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr scope="row ">
                    <td> {{u.email}}</td>
                    <td> {{u.id}} </td>
                    <td> {{u.age}} </td>
                    <td> {{u.country.name}} </td>
                    <td> {{u.city.name}} </td>
                    <td class="text-center ">

                        <a href="{% url 'update-user-sales' u.id %} " class="btn btn-danger btn-sm ">Update</a>
                    </td>
                    <td class="text-center ">

                        <a href="{% url 'user-stats' u.id %} " class="btn btn-danger btn-sm ">Analysis</a>
                    </td>

                </tr>
                {% endfor %}
        </table>
    </div>


    {% endblock content %}