{% extends "base.html" %}{% load crispy_forms_tags %} {% block title%} Index {% endblock title %} {% block content%} {% load static %}


<div class="container">

    <h4 class="text-center mt-4">System Information and Documentation</h1>
        <p class="mt-2">
            This system refers to
            <a href="https://myapp963635.herokuapp.com/" style="color: #e92063;" "><big><b> Sales</b><small>-Stats</small></big> </a>which help us to handle the sales users and multiple operations related to sales like uploading the sales data using csv having the analysis of that data with perticular user. there are lots
            of apis are available here if you want to access those first you can go to
            <a style=" color: #e92063; " href="https://myapp963635.herokuapp.com/docs/ ">Swagger Docs..</a> or you can continue with the information about the application..
        </p>


        <h5 class="text-center mt-2 ">1.  Add New Sales User...</h5>
        <p class="text-center mt-1 ">For adding an sales user you can go to the  <a style=" color: #e92063; " href="https://myapp963635.herokuapp.com/api/v2/users/add/ ">Add User..</a></p>
        <img class="rounded mx-auto d-block " src="{% static 'img/add_user.png' %} " alt=" " style="height: 450px; ">
<hr>

        <h5 class="text-center mt-4 ">2.  Sales Users List...</h5>
        <p class="text-center mt-1 ">Here you can find the list of the sales users you can update the user info and add sales data...  <a style=" color: #e92063; " href="https://myapp963635.herokuapp.com/api/v2/users/all/ ">All Users..</a></p>
        <img class="rounded mx-auto d-block " src="{% static 'img/user_list.png' %} " alt=" " style="height: 450px; ">


        <hr>

        <h5 class="text-center mt-4 ">3.  Update User and Add Sales Data...</h5>
        <p class="text-center mt-1 ">Here You can update the user and add the sales data of corresponded sales person...  <a style=" color: #e92063; " href="# ">Update User & Add Sales..</a></p>
        <img class="rounded mx-auto d-block " src="{% static 'img/update_user_upload_data.png' %} " alt=" " style="height: 450px; ">

        <hr>


        <h5 class="text-center mt-4 ">4. Data analysis & Statistics...</h5>
        <p class="text-center mt-1 ">Here you can see analysis of each user... <a style=" color: #e92063; " href=" ">See Analysis..</a></p>
        <img class="rounded mx-auto d-block " src="{% static 'img/stats.png' %} " alt=" " style="height: 450px; ">


<hr>
        <h5 class="text-center mt-4 ">4. User Apis...</h5>
        <p class="text-center mt-1 ">Here You can see the user related apis... <a style=" color: #e92063; " href="https://myapp963635.herokuapp.com/docs ">See User Apis..</a></p>
        <img class="rounded mx-auto d-block " src="{% static 'img/user_apis.png' %} " alt=" " style="height: 250px; ">
<hr>
        <h5 class="text-center mt-4 ">4. Sales Apis...</h5>
        <p class="text-center mt-1 ">Here You can see the sales related apis... <a style=" color: #e92063; " href="https://myapp963635.herokuapp.com/docs ">See Sales Apis..</a></p>
        <img class="rounded mx-auto d-block " src="{% static 'img/sales_apis.png' %} " alt=" " style="height: 250px; ">





</div>
{% endblock content %}